.btn, .btn:visited {
  background-color:rgb(173, 40, 173);
}

.btn:hover, .btn:active {
  background-color:rgb(255, 215, 255);
  color: rgb(90, 0, 90);
}

.btn-one, .btn-one:visited {
  background-color:rgb(255, 215, 255);
  color: rgb(90, 0, 90);
  border: none;
  margin: 5px;
}

.btn-one:hover, .btn-one:active {
  background-color:rgb(173, 40, 173);
}

h1 {
  color:rgb(173, 40, 173);
}

h4, h5 {
  color: rgb(90, 0, 90);
   font-size: 1.2rem;
}

.card.about-card:hover {
  transform: scale(1.2);
  transition-duration: 2s;
}

.about-one { 
  background-color:rgba(255, 215, 255, 0.5);
  color: rgb(90, 0, 90);
}

.about-two { 
  background-color:rgb(173, 40, 173);
  color: rgb(255, 235, 255);
  padding: 20px;
  height: 250px;
  align-content: center;
}

.gallery-pics {
  height: 160px;
  width: 200px;
  background-size: cover;
  color: rgb(173, 40, 173);
}

@-webkit-keyframes swing {
  0% {
    transform: scale(1.0);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg) scale(1.2);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg) scale(1.4);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg) scale(1.6);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg) scale(1.8);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg) scale(2.0);
  }
}

@keyframes swing {
  0% {
    transform: scale(1.0);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg) scale(1.2);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg) scale(1.4);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg) scale(1.6);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg) scale(1.8);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg) scale(2.0);
  }
}

.gallery-pics:hover {
  animation: swing 2s ease-in 0s 1 ;
  transform: scale(2.0);
  transition-delay: 2s;
}

.gallery {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

th, td {
  color:rgb(173, 40, 173);
}
